################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
# Then edited by Kevin
################################################################################

/1-SingleVM/bin/*
/2-MultiVM/bin/*
/3-nTier/bin/*
/4-VirtualDatacenter/bin/*
/5-HybirdNetwork/bin/*

# User-Specific Files
*.suo