################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/1-SingleVM/bin/Debug/staging/1-SingleVM/Templates
